<template>
  <div>
    <v-container>
      <v-layout
        text-xs-center
        wrap
      >
        <template v-if="!backend.socket">
          <v-flex xs class="mr-3">
            Adres serwera
            <v-text-field v-model="serverAddress" />
          </v-flex>
          <v-flex>
            Port serwera
            <v-text-field v-model="serverPort" />
          </v-flex>
          <v-flex class="mt-2">
            <v-btn @click="connectToServer">
              Połącz z serwerem
            </v-btn>
          </v-flex>
        </template>
        <template v-else-if="!isReciverSent">
          <v-flex xs12>
            <p>Server info: {{serverAddress}}:{{serverPort}}</p>
          </v-flex>
          <v-flex xs12>
            <p v-if="clientId">Client id: {{ clientId }}</p>
          </v-flex>
          <v-layout style="width: 100%">
            <v-flex xs4 />
            <v-flex xs2 v-if="clientId">
              Wpisz id odbiorcy:
              <v-text-field
                v-model="reciverId"
                :readonly="isReciverSent"
              />
            </v-flex>
            <v-flex xs2 class="mt-2">
              <v-btn
                :disabled="!reciverId"
                @click="prepareToStream"
                class="mt-2"
              >
                Start
              </v-btn>
            </v-flex>
          </v-layout>
        </template>
      </v-layout>
      <div class="infoPopup" v-if="clientId && reciverId">
        <v-btn
          icon
          @click="isInfoVisible = !isInfoVisible"
        >
          <v-icon>info</v-icon>
        </v-btn>
        <div
          v-show="isInfoVisible"
          class="infoPopup__content elevation-10"
        >
          <v-flex xs12>
            <p>Server info: {{serverAddress}}:{{serverPort}}</p>
          </v-flex>
          <v-flex xs12>
            <p>Client id: {{ clientId }}</p>
          </v-flex>
          <v-flex xs12>
            <p>Reciver id: {{ reciverId }}</p>
          </v-flex>
        </div>
      </div>
    </v-container>
    <div class="videoContainer">
      <video
        ref="camera"
        autoplay
        style="width: 140px; position: absolute; top: 20px; left: 20px;"
      ></video>
      <video ref="reciver" autoplay class="videoContainer__reciver"> </video>
    </div>
  </div>
</template>

<script>

import Backend from '../backend/Backend';

export default {
  data: () => ({
    backend: {},
    mediaSource: {},
    sourceBuffer: null,
    queue: [],
    serverAddress: '',
    serverPort: '',
    clientId: null,
    reciverId: null,
    isReciverSent: false,
    isInfoVisible: false,
  }),

  mounted() {
    this.mediaSource = new MediaSource();
  },

  methods: {
    connectToServer() {
      this.backend = new Backend(this.serverAddress, this.serverPort);
      this.backend.socket.on('data', (data) => {
        console.log(data);
        if (!this.clientId) {
          this.clientId = data.readInt8();
          this.setVideoFrame();
          return;
        }

        if (data.toString('utf-8') === 'OK') {
          this.startStream();
          return;
        }

        if (this.sourceBuffer) {
          if (this.sourceBuffer.updating || this.queue.length > 0) {
            this.queue.push(data);
          } else {
            this.sourceBuffer.appendBuffer(data);
          }
        }
      });
    },

    prepareToStream() {
      const idBuff = new Uint8Array(1);
      idBuff.set([this.reciverId]);
      this.backend.socket.write(Buffer.from(idBuff));
      this.isReciverSent = true;
    },

    setVideoFrame() {
      this.$refs.reciver.src = URL.createObjectURL(this.mediaSource);
      this.mediaSource.addEventListener('sourceopen', () => {
        if (this.sourceBuffer) {
          return;
        }
        this.$refs.reciver.play();
        this.sourceBuffer = this.mediaSource.addSourceBuffer('video/webm; codecs="vp8,opus"');

        this.sourceBuffer.addEventListener('update', () => { // Note: Have tried 'updateend'
          console.log('up');
          if (this.queue.length > 0 && !this.sourceBuffer.updating) {
            this.sourceBuffer.appendBuffer(this.queue.shift());
          }
        });
      });
    },

    startStream() {
      navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then((stream) => {
        this.$refs.camera.srcObject = stream;
        const options = {
          audioBitsPerSecond: 128000,
          videoBitsPerSecond: 2500000,
          mimeType: 'video/webm; codecs="vp8,opus"',
        };
        const mediaRecorder = new MediaRecorder(stream, options);

        mediaRecorder.ondataavailable = (e) => {
          const fileReader = new FileReader();
          fileReader.onload = (event) => {
            if (event.target !== null) {
              this.backend.socket.write(Buffer.from(event.target.result));
            }
          };
          fileReader.readAsArrayBuffer(e.data);
        };

        mediaRecorder.start(50);
      }).catch((e) => {
        console.error(e);
      });
    },
  },
};
</script>

<style>
.infoPopup {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.infoPopup__content {
  text-align: left;
  width: 200px;
  padding: 8px;
}

.videoContainer {
  position: relative;
  width: 100vw;
  height: calc(100vh - 112px);
  text-align: center;
  margin-top: -32px;
}

.videoContainer__reciver {
  height: 100%;
  max-width: 100%;
}
</style>
