<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        Skypers
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <MainApp/>
    </v-content>
  </v-app>
</template>

<script>
import MainApp from './components/MainApp.vue';

export default {
  name: 'App',
  components: {
    MainApp,
  },
  data() {
    return {
      //
    };
  },
};
</script>
